body {
    margin: 0;
    height: 100%;
}

#Content {
    display: flex;
}

#Right {
    margin: auto;
    width: 50%;
    text-align: center;
    animation: move-up 1s ease-in-out infinite;
}

h1 {
    color:#1C1018;
    font-size: 2.5em;
}

#tempLeft, #tempRight {
    text-align: left;
}

li {
    color:#212427;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #1f515f20;
    border-radius: 10px;
    justify-content: space-between;
}